/* =====================================
    light.css
    MODO CLARO
   ===================================== */

body {
  background: var(--color-bg);
  color: var(--color-text);
}

.header-principal,
.card,
.task-items,
.pomodoro,
.modal__content {
  background: var(--color-bg-alt);
  color: var(--color-text);
}

.btn--secondary:hover,
.modal__close:hover {
  background: #e2e8f0;
}
