/* ================================
    Lista de tareas 
   ================================ */

#task-list .card {
  padding: 0;
}

/* Lista */
.tasks {
  list-style: none;
  display: grid;
  gap: var(--space-sm);
  padding: var(--space);
}

/* Ítem de tarea */
.task {
  background: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  padding: var(--space-sm);
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
  box-shadow: var(--shadow);
}

/* Checkbox y texto */
.task .text {
  flex: 1;
}

/* Tarea completada */
.task.completed .text {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Contenedor de botones (editar/eliminar) */
.task .actions {
  display: flex;
  gap: var(--space-sm);
}

/* Modo edición */

/* Valor por defecto */
.task .edit-input,
.task .edit-category {
  display: none;
}

.task.editing {
  background: #eef3ff;
  border-color: var(--color-primary);
}

/* Ocultar texto mientras se edita */
.task.editing .text {
  display: none;
}

/* Se muestra el input */
.task.editing .edit-input,
.task.editing .edit-category {
  display: block;
  flex: 1;
  padding: var(--space-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}

/* El botón editar se transforma en Guardar visualmente */
.task.editing .edit {
  background: var(--color-primary);
  color: #fff;
}

/* Drag & Drop */
.task[draggable="true"] {
  cursor: grab;
}

task.drag-over {
  border-color: var(--color-primary);
}
