/* ======================================
    Estilos para el formulario de tareas 
   ====================================== */

#task-form .card {
  display: grid;
  gap: var(--space-sm);
}

#form-add .row {
  display: flex;
  gap: var(--space-sm);
}

#form-add .col {
  flex: 1;
}

#form-add button {
  flex-shrink: 0;
}
